#project-list{
  li {
    padding: 0.5rem;
    position: relative;
  }

  li>span:first-of-type {
    width: calc(480px - 7rem);
    display: inline-block;
    margin-right: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  li img{
    width: 1rem;
    height: 1rem;
    margin-top: 1px;
    margin-right: 1rem; 
  }

  .waiting-for-tab-mask{
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    top: -0.5rem;
    bottom: 0;
  }

  .waiting-for-tab-mask:hover{
    border: solid 2px #bbb;
    cursor: grab;
  }
  
  li.fits-filter{
    font-weight: 700;
  }
  
  li.choosen{
    background-color: #e7e7e7;
  }

  form {
    display: flex;
    justify-content: center;
  }
}