#project-detail{
  #tab-grid, #tab-list {
    height: 194px;
  }

  #project-editor{
    button, input{
      margin-right: 6px;
      margin-left: 4px;
    }
  }

  .note-button{
    border-style: none;
  }

  #tab-list li > span:first-of-type{
    width: calc(480px - 11rem);
  }
}

#resource-view{
  padding-top: 6px;
  background-color: white;
}

#resource-list{
  li {
    padding: 0.8rem;
  }
  
  li>span:first-of-type {
    width: calc(480px - 10rem);
    display: inline-block;
    margin-right: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  li img{
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 1rem; 
    transform: translateY(2px);
  }

  li .btn{
    float: right;
    height: 1.35rem;
    padding: 0 0.6rem;
    color: #aaa;
    transition: color ease-in-out 0.2s;
  }

  .tags-container{
    margin-left: 28px;
  }

  button.tag {
    height: 20px;
    margin-right: 4px;
    margin-top: 4px;
    line-height: 18px;
    border: solid 1px #ddd;
    border-radius: 5px;
  }

  input.tags-input{
    border: solid 1px transparent;
  }

  input.tags-input:focus{
    border: solid 1px #ddd;
  }
  
  .edit-resource:hover{
    cursor: default;
  }

  span{
    position:inline-block;
  }

  .url{
    margin-left: 28px;
    word-wrap: break-word;
  }

  .resource-control{
    width: 100%;
    input{
      height: 24px;
      margin-left: 21px;
      width: calc(100% - 48px);
    }
    button{
      height: 24px;
      margin-left: 3px;
      background-color: transparent;
      border-style: none;
      text-align: center;
    }
  }
}