.container{
  padding: 0 5px;
}
.submit {
  height:24px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #e7e7e7;
  color: black;
  font-size: 12px;
  margin-left: 5px;
  a {
    text-decoration: none;
    color: black; 
  }
}

.row-container{
  margin: 0.5rem 1rem;
}

.thin-row-container{
  width: 80%;
  margin-left: 10%;
}

.thin-row-container>button,
.thin-row-container>input{
  width:100%;
}

.input-group {
  display: flex;
  width: 100%;
  *{
    border-radius: 0;
    border-left-style: none;
    flex-grow: 1;
  }

  :first-child{
    border-radius: 12px 0 0 12px;
    border-left-style: solid;
    flex-grow: 0;
  }

  :nth-last-child(2){
    flex-grow: 1;
  }

  :last-child {
    border-radius: 0 12px 12px 0;
    margin-left: 0;
    flex-grow: 0;
  }
}

#header, #footer{
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: baseline;
  background-color: #AFCFFF;

  svg{
    color: #333;
    transition: ease-in-out;
  }

  svg:hover{
    color: #555;
  }
}
#header{
  top: 0px;
  svg{
    font-size: 1.25rem;
  }
}
#footer{
  position: fixed;
  bottom: 0;
}

/* To leave some space for the footer */ 
#tab-manager, #project-detail {
  padding-bottom: 30px;
}

#tabtop {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.btn{
  float: right;
  padding: 0 0.4rem;
  color: #aaa;
  transition: color ease-in-out 0.2s;
}

.btn:hover{
  cursor: pointer;
  color: #888;
}

#tab-list,
#tab-grid{
  padding: 0;
  height: 228px;
  background-color: white;
  overflow-y: scroll;
  user-select: none;
}

#tab-list {
  li {
    padding: 9px;
  }

  li>span:first-of-type {
    width: calc(480px - 9rem);
    display: inline-block;
    margin-right: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  li img{
    width: 1.35rem;
    height: 1.35rem;
    margin-top: 1px;
    margin-right: 1rem; 
  }

  .list-tab.active{
    background-color: #e7e7e7;
  }

  svg{
    height: 1.35rem;
  }
  svg:nth-of-type(2){
    color: #c5b30c;
  }
}

#tab-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  list-style: none;
  overflow-y: scroll;
  user-select: none;

  .grid-tab{
    width: 96px;
    padding: 0;
    margin: 8px 8px;
    position: relative;
    transition: transfrom ease-in-out 0.2s;
    text-align: center;
    font-size: 10px;
    border: 1px solid #ddd;
    .screenshot-container{
      height: 72px;
      overflow: hidden;
    }
    .icon-container{
      height: 32px;
      padding: 20px;
      overflow: hidden;
    }
    img {
      height: 100%;
      margin-bottom: 5px;
      width: auto;
    }
    img:hover{
      transform: scale(1.1, 1.1);
    }
    svg{
      position: absolute;
      top: -8px;
      right: -10px;
    }
    svg:nth-of-type(2){
      color: #f5de0c;
      right: 5px;
    }
    div:last-of-type{
      padding: 5px;
    }
  }
}

#project-list,
#resource-list {
  padding: 0;
  height: 120px;
  overflow-y: scroll;
}

#project-list li{
  position: relative;
}

#project-list .waiting-for-tab-mask{
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}